@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.wrapper{
    max-width: 450px;
    margin: 150px auto;
}

.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #efefef;
}

.search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}
input.btn.btn-block{
    color: #fff;
    background-color: #8cd2f3;
    font-size: 1em;
    font-weight: 700;
    padding: 13px 60px;
    text-align: center;
    border: none;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 2px 4px 0 rgb(100 105 124 / 24%);
    -moz-box-shadow: 0 2px 4px 0 rgba(100, 105, 124, 0.24);
    box-shadow: 0 2px 4px 0 rgb(100 105 124 / 24%);
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    line-height: 23px;
    line-height: 1.6428571429rem;
}

button.btn.btn-block{
    color: #fff;
    background-color: #8cd2f3;
    font-size: 1em;
    font-weight: 700;
    padding: 13px 60px;
    text-align: center;
    border: none;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 0 2px 4px 0 rgb(100 105 124 / 24%);
    -moz-box-shadow: 0 2px 4px 0 rgba(100, 105, 124, 0.24);
    box-shadow: 0 2px 4px 0 rgb(100 105 124 / 24%);
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    line-height: 23px;
    line-height: 1.6428571429rem;
}

.btn.btn-block {
    color: #fff !important;
    background-color: #8cd2f3;
    font-size: 1em;
    font-weight: 700;
    padding: 13px 60px;
    text-align: center;
    border: none;
    position: relative;
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgb(100 105 124 / 24%);
    border-radius: 3px !important;
    transition: background-color 0.2s;
    line-height: 23px;
    line-height: 1.6428571429rem;
}

.col.right {
    background: url('https://dashboard.sleeknote.com/static/images/Login-Illustration-1.svg') no-repeat left bottom #E9EEFA;
    background-size: cover;
    min-height: 300px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    width: 100%;
    max-width: 100%;
}
/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
